# Fastest Lap Data
A Jupyter notebook looking at the fastest laps from each race. Using data from [Formula 1](https://www.formula1.com/en/results.html/2022/races.html)

The DataFrame 'fastest_lap' contains the mean (average) of the fastest laps of each driver in each race.

CSV files can be found in:
- data/fastest-laps

__HAVE YOU READ THE README FILE? PLEASE DO BEFORE USING THIS JUPYTER NOTEBOOK!__

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import cufflinks as cf
import re
from datetime import datetime
import time

In [18]:
%matplotlib inline

In [19]:
cf.go_offline() #allows to use cufflinks offline

In [20]:
fastest_lap = pd.DataFrame()

fastest_lap = fastest_lap.assign(NO = '', DRIVER = '', RACE = '', FL = '')
# rename the column header
fastest_lap.columns = fastest_lap.columns.str.replace('Time', 'Time/Retired')

fastest_lap.head()

Empty DataFrame
Columns: [NO, DRIVER, RACE, FL]
Index: []

In [21]:
fl_bahrain = pd.read_csv('data/fastest-lap/fl-bahrain.csv')
fl_bahrain.head()

  POS  NO           DRIVER           CAR  LAPS TIME/RETIRED  PTS
0   1  16  Charles Leclerc       FERRARI    57      37:33.6   26
1   2  55     Carlos Sainz       FERRARI    57      +5.598s   18
2   3  44   Lewis Hamilton      MERCEDES    57      +9.675s   15
3   4  63   George Russell      MERCEDES    57     +11.211s   12
4   5  20  Kevin Magnussen  HAAS FERRARI    57     +14.754s   10

In [22]:
fl_bahrain.describe()

              NO       LAPS        PTS
count  20.000000  20.000000  20.000000
mean   25.800000  56.150000   5.100000
std    21.142623   2.942877   7.503683
min     1.000000  44.000000   0.000000
25%    10.750000  57.000000   0.000000
50%    21.000000  57.000000   0.500000
75%    34.250000  57.000000   8.500000
max    77.000000  57.000000  26.000000

In [23]:
# get the fastest lap of the race
fastest_lap_bahrain = fl_bahrain.loc[0, 'TIME/RETIRED']
fastest_lap_bahrain_time = datetime.strptime(fastest_lap_bahrain,'%M:%S.%f')
fastest_lap_bahrain_no = fl_bahrain.loc[0, 'NO']
fastest_lap_bahrain_driver = fl_bahrain.loc[0, 'DRIVER']

fastest_lap_bahrain_time.strftime('%M:%S.%f')[:-3]

'37:33.600'

In [24]:
# add fastest driver
# add row
fastest_lap.loc[-1] = [fastest_lap_bahrain_no, fastest_lap_bahrain_driver, 'BAHRAIN', fastest_lap_bahrain_time.strftime('%M:%S.%f')[:-3]]
# shift the index
fastest_lap.index = fastest_lap.index + 1
fastest_lap.head()

   NO           DRIVER     RACE         FL
0  16  Charles Leclerc  BAHRAIN  37:33.600

In [25]:
fl_bahrain_all_drivers = []

driver_count = 1

while driver_count < 20:
    time = fl_bahrain.loc[driver_count, 'TIME/RETIRED']
    driverNo = fl_bahrain.loc[driver_count, 'NO']
    name = fl_bahrain.loc[driver_count, 'DRIVER']
    if time == 'DNF':
        driver_count += 1
    else:
        time = re.sub(r'[^0-9.]', '', time)
        timeFloat = float(time)
        formattedTime = datetime.strptime(time, '%S.%f')
        #finalTime = timeFloat + fastest_lap_bahrain_time.strftime('%M:%S.%f')[:-3]

        driver_count += 1

ValueError: second must be in 0..59

In [ ]:
fl_saudi_arabia = pd.read_csv('data/fastest-lap/fl-saudi-arabia.csv')
fl_saudi_arabia.head()

,POS,NO,DRIVER,CAR,LAP,TIME OF DAY,TIME,AVG SPEED
0,1,16,Charles Leclerc,FERRARI,48,21:24:43,01:31.6,242.556
1,2,1,Max Verstappen,RED BULL RACING RBPT,50,21:27:46,01:31.8,242.191
2,3,55,Carlos Sainz,FERRARI,48,21:24:50,01:31.9,241.841
3,4,11,Sergio Perez,RED BULL RACING RBPT,46,21:21:47,01:32.0,241.481
4,5,4,Lando Norris,MCLAREN MERCEDES,46,21:22:26,01:32.8,239.629

In [ ]:
fl_australia = pd.read_csv('data/fastest-lap/fl-australia.csv')
fl_australia.head()

,POS,NO,DRIVER,CAR,LAP,TIME OF DAY,TIME,AVG SPEED
0,1,16,Charles Leclerc,FERRARI,58,16:30:59,01:20.3,236.740
1,2,14,Fernando Alonso,ALPINE RENAULT,57,16:31:30,01:20.8,235.024
2,3,11,Sergio Perez,RED BULL RACING RBPT,58,16:31:20,01:21.1,234.305
3,4,63,George Russell,MERCEDES,53,16:24:35,01:21.5,233.152
4,5,77,Valtteri Bottas,ALFA ROMEO FERRARI,54,16:26:39,01:21.7,232.707